tmp
/bin/
/dist/
coverage.out
/sshtmd
/sshtm
/pb
/sshtm-linux-*
/sshtmd-linux-*
/sshtm-darwin-*
/sshtmd-darwin-*
packaging/arch/pkg/
packaging/arch/src/
packaging/arch/*.pkg.tar.*
packaging/arch/*.tar.gz
packaging/arch/*.pkg.tar.zst
packaging/debian/sshtm/
packaging/debian/.debhelper/
packaging/debian/debhelper-build-stamp
packaging/debian/files
packaging/debian/*.debhelper.log
packaging/debian/*.substvars
packaging/debian/*.deb
packaging/debian/*.buildinfo
packaging/debian/*.changes
packaging/debian/*.dsc
